<html>

<head>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
</head>

<body onload="startGame()">
    <svg id="svg" width="800" height="800">
        <g id="ships" />
        <g id="meters">
            <path id="supermeter"/>
            <rect id="thrust" x="600" y="50" height="20" fill="black"/>
            <g id="shots"/>
        </g>
    </svg>
</body>

</html>